<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <google-chart #chart
                    title="Isomap"
                    [type]="type"
                    [data]="dataIsomap"
                    [columnNames]="columnNames"
                    [options]="options"></google-chart>
    </div>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <google-chart #chart
                    title="Isomap"
                    [type]="type"
                    [data]="dataIsomap"
                    [columnNames]="columnNames"
                    [options]="options"></google-chart>
    </div>
  </div>
</div>
