<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
 <!-- Navbar content -->
 <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Projekt Wizualizacja Wielkich Zbiorów Danych</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
  </nav>
  
   <!-- file upload 
   <div class="row"> 
      <div class="col">  
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Plik</span>
          </div>
          <div class="custom-file">
              <input ng2FileSelect type="file" accept=".xml" [uploader]="uploader" type="file" class="custom-file-input" id="customFileLangHTML">
              <label class="custom-file-label" for="customFileLangHTML" data-browse="Szukaj">Wybierz korpus</label>
            </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-4"style="float:none;margin:auto;"> 
        <div style="display: block;">
          <canvas baseChart
            [datasets]="scatterChartData"
            [options]="scatterChartOptions"
            [chartType]="scatterChartType">
          </canvas>
        </div>
      </div>
    </div>
  -->
  
  
  <div class="container">
      <file-uploader (onCompleteItem)="onCompleteItem($event)"></file-uploader>
    </div>

    
    <div class="col-4"style="float:none;margin:auto;"> 
    <div style="display: block;">
        <canvas baseChart
          [datasets]="scatterChartData"
          [options]="scatterChartOptions"
          [chartType]="scatterChartType">
        </canvas>
      </div>
    </div>